<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Agent</h3></div>
        <div class="panel-body">
            <div *ngIf="!IsEditable" class="row">
                <div class="col-md-2">
                    <p>Codename:</p>
                </div>
                <div class="col-md-10">
                    <p><span><strong>{{Agent?.Codename}}</strong></span></p>
                </div>
                <div class="col-md-2">
                    <p>Name:</p>
                </div>
                <div class="col-md-10">
                    <p><strong>{{Agent?.Name}}</strong></p>
                </div>
                <div class="col-md-2">
                    <p>Surname:</p>
                </div>
                <div class="col-md-10">
                    <p><strong>{{Agent?.Surname}}</strong></p>

                </div>
                <button type="submit" class="btn btn-primary" (click)="editAgent()">Edit</button>
            </div>
            <div *ngIf="IsEditable" class="row">
                <form [ngFormModel]="form">
                    <div class="form-group">
                        <label for="codename">Codename:</label>
                        <input id="codename" class="form-control" type="text" [(ngModel)]="Agent.Codename" ngControl="codename" #codename="ngForm">
                    </div>
                    <div *ngIf="codename.touched">
                        <div *ngIf="!codename.valid" class="alert alert-danger">
                            <strong>Codename is required</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input id="codename" class="form-control" type="text" [(ngModel)]="Agent.Name" ngControl="name" #name="ngForm">
                    </div>
                    <div *ngIf="name.touched">
                        <div *ngIf="!name.valid" class="alert alert-danger">
                            <strong>Name is required</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Surname">Name:</label>
                        <input id="Surname" class="form-control" type="text" [(ngModel)]="Agent.Surname" ngControl="surname" #surname="ngForm">
                    </div>
                    <div *ngIf="surname.touched">
                        <div *ngIf="!surname.valid" class="alert alert-danger">
                            <strong>Surname is required</strong>
                        </div>
                    </div>                    
                </form>
                <button type="submit" class="btn btn-primary" (click)="saveAgent()">Save</button>
            </div>
        </div>
    </div>
</div>