<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Mission</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"><p>Mission:</p></div><div class="col-md-10"><p><strong>{{Mission?.MissionName}}</strong></p></div>
                <div class="col-md-2"><p>Description:</p></div><div class="col-md-10"><p><strong>{{Mission?.Description}}</strong></p></div>
                <div class="col-md-2"><p>Status:</p></div><div class="col-md-10"><p><strong>{{Mission?.MissionStatus?.MissionStatusText}}</strong></p></div>
            </div>
        </div>
    </div>
</div>